# django settings
SECRET_KEY = "CHANGE-ME"

# 1 = true, 0 = false
DEBUG = 1

# Database
DB_ENGINE = "django.db.backends.postgresql"
POSTGRES_DB = "CHANGE-ME"
POSTGRES_USER = "CHANGE-ME"
POSTGRES_PASSWORD = "CHANGE-ME"
POSTGRES_HOST = "CHANGE-ME"
POSTGRES_PORT = "CHANGE-ME"
