{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="main-content">
            <img src="python-logo.png" alt="photo-img" class="photo">
            <h1 class="photo-title">O Titulo da Foto</h1>
            <p class="photo-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quo quos
                ducimus corrupti
                distinctio eos delectus, impedit quidem eaque enim incidunt dolor quasi quisquam alias, temporibus
                harum. Sint, facere ipsa!</p>
            <div class="photo-options">
                <a href="photo_form.html" class="btn-primary">Editar</a>
                <a href="" class="btn-danger">Excluir</a>
            </div>
        </div>
    </div>
{% endblock content %}